# Import dplyr library and drinks dataset

The drinks dataset contains information about the alcohol consumption of 193 countries.

In [1]:
suppressMessages(library(dplyr))
drinks = read.csv("http://bit.ly/drinksbycountry")
head(drinks)

  country           beer_servings spirit_servings wine_servings
1 Afghanistan         0             0               0
2 Albania            89           132              54
3 Algeria            25             0              14
4 Andorra           245           138             312
5 Angola            217            57              45
6 Antigua & Barbuda 102           128              45
  total_litres_of_pure_alcohol continent
1  0.0                         Asia
2  4.9                         Europe
3  0.7                         Africa
4 12.4                         Europe
5  5.9                         Africa
6  4.9                         North America

# Dplyr functionality

The dplyr library is similar to that of the Pandas library in Python.

It works extremely well on data frames and is great for data exploration and transformation. Furthermore, it is also intuitive to write and interpret, especially when using the chaining syntax, which will be explained in this notebook. 

Dplyr involves 5 basic commands (verbs):

1. Filter
2. Select
3. Arrange
4. Mutate
5. Summarise

# 1. Filter

Keep rows matching criteria.

## 1.1 And condition

In [2]:
# Base R approach to view countries in Asia with zero beer servings
drinks[drinks$continent == "Asia" & drinks$beer_servings == 0, ]

    country      beer_servings spirit_servings wine_servings
1   Afghanistan  0             0               0
14  Bangladesh   0             0               0
47  North Korea  0             0               0
80  Iran         0             0               0
91  Kuwait       0             0               0
104 Maldives     0             0               0
129 Pakistan     0             0               0
150 Saudi Arabia 0             5               0
    total_litres_of_pure_alcohol continent
1   0.0                          Asia
14  0.0                          Asia
47  0.0                          Asia
80  0.0                          Asia
91  0.0                          Asia
104 0.0                          Asia
129 0.0                          Asia
150 0.1                          Asia

In [3]:
# Dplyr approach
filter(drinks, continent == "Asia", beer_servings == 0)

  country      beer_servings spirit_servings wine_servings
1 Afghanistan  0             0               0
2 Bangladesh   0             0               0
3 North Korea  0             0               0
4 Iran         0             0               0
5 Kuwait       0             0               0
6 Maldives     0             0               0
7 Pakistan     0             0               0
8 Saudi Arabia 0             5               0
  total_litres_of_pure_alcohol continent
1 0.0                          Asia
2 0.0                          Asia
3 0.0                          Asia
4 0.0                          Asia
5 0.0                          Asia
6 0.0                          Asia
7 0.0                          Asia
8 0.1                          Asia

## 1.2 Or condition

In [4]:
filter(drinks, spirit_servings == 0 | wine_servings == 0)

   country           beer_servings spirit_servings wine_servings
1  Afghanistan        0              0               0
2  Algeria           25              0              14
3  Bangladesh         0              0               0
4  Bhutan            23              0               0
5  Burundi           88              0               0
6  North Korea        0              0               0
7  Equatorial Guinea 92              0             233
8  Eritrea           18              0               0
9  Ethiopia          20              3               0
10 Gambia             8              0               1
11 Guinea             9              0               2
12 India              9            114               0
13 Indonesia          5              1               0
14 Iran               0              0               0
15 Iraq               9              3               0
16 Kuwait             0              0               0
17 Laos              62              0             123
18 Lesotho           82             29               0
19 Libya              0              0               0
20 Malaysia          13              4               0
21 Maldives           0              0               0
22 Marshall Islands   0              0               0
23 Mauritania         0              0               0
24 Monaco             0              0               0
25 Myanmar            5              1               0
26 Nauru             49              0               8
27 Nepal              5              6               0
28 Pakistan           0              0               0
29 Rwanda            43              2               0
30 San Marino         0              0               0
31 Saudi Arabia       0              5               0
32 Somalia            0              0               0
33 Sri Lanka         16            104               0
34 Sudan              8             13               0
35 Tajikistan         2             15               0
36 Uganda            45              9               0
37 Yemen              6              0               0
   total_litres_of_pure_alcohol continent
1  0.0                          Asia
2  0.7                          Africa
3  0.0                          Asia
4  0.4                          Asia
5  6.3                          Africa
6  0.0                          Asia
7  5.8                          Africa
8  0.5                          Africa
9  0.7                          Africa
10 2.4                          Africa
11 0.2                          Africa
12 2.2                          Asia
13 0.1                          Asia
14 0.0                          Asia
15 0.2                          Asia
16 0.0                          Asia
17 6.2                          Asia
18 2.8                          Africa
19 0.0                          Africa
20 0.3                          Asia
21 0.0                          Asia
22 0.0                          Oceania
23 0.0                          Africa
24 0.0                          Europe
25 0.1                          Asia
26 1.0                          Oceania
27 0.2                          Asia
28 0.0                          Asia
29 6.8                          Africa
30 0.0                          Europe
31 0.1                          Asia
32 0.0                          Africa
33 2.2                          Asia
34 1.7                          Africa
35 0.3                          Asia
36 8.3                          Africa
37 0.1                          Asia

# 2. Select

Pick columns by name.

In [5]:
# Base R approach to select country and total litres of pure alcohol
head(drinks[, c("country", "total_litres_of_pure_alcohol")])

  country           total_litres_of_pure_alcohol
1 Afghanistan        0.0
2 Albania            4.9
3 Algeria            0.7
4 Andorra           12.4
5 Angola             5.9
6 Antigua & Barbuda  4.9

In [6]:
# Dplyr approach
head(select(drinks, country, total_litres_of_pure_alcohol))

  country           total_litres_of_pure_alcohol
1 Afghanistan        0.0
2 Albania            4.9
3 Algeria            0.7
4 Andorra           12.4
5 Angola             5.9
6 Antigua & Barbuda  4.9

The following can also be used to match columns by name:

- starts_with
- ends_with
- matches 
- contains

In [7]:
# Select columns which contain the word "servings"
head(select(drinks, contains("servings")))

  beer_servings spirit_servings wine_servings
1   0             0               0
2  89           132              54
3  25             0              14
4 245           138             312
5 217            57              45
6 102           128              45

# Bonus: Chaining multiple operations via %>%

Windows shortcut for  %>% is Ctrl+Shift+M.

In [8]:
# Nesting method to select countries with total litres of alcohol greater than 12
filter(select(drinks, country, total_litres_of_pure_alcohol), total_litres_of_pure_alcohol > 12)

  country   total_litres_of_pure_alcohol
1 Andorra   12.4
2 Belarus   14.4
3 Lithuania 12.9

In [9]:
# Chaining method
drinks %>% 
    select(country, total_litres_of_pure_alcohol) %>% 
    filter(total_litres_of_pure_alcohol > 12)

  country   total_litres_of_pure_alcohol
1 Andorra   12.4
2 Belarus   14.4
3 Lithuania 12.9

Chaining significantly increases code readability especially when there are many commands. 

Chaining can also be used to replace nesting in R commands outside of dplyr. For example, suppose we want to compute the root mean square error between two sets of numbers.

In [10]:
# Create two vectors calculate root mean square error to 5 decimal places 
set.seed(42)
x = runif(10); y = runif(10)
round(sqrt(mean((x-y)^2)), 5)

[1] 0.36466

In [11]:
# Chaining method
(x-y)^2 %>% mean() %>% sqrt() %>% round(5)

[1] 0.36466

# 3. Arrange

Reorder rows.

In [12]:
# Base R approach to select country and beer servings columns and sort by beer servings
drinks[order(drinks$beer_servings), c("country", "beer_servings")]

    country            beer_servings
1   Afghanistan        0
14  Bangladesh         0
41  Cook Islands       0
47  North Korea        0
80  Iran               0
91  Kuwait             0
98  Libya              0
104 Maldives           0
107 Marshall Islands   0
108 Mauritania         0
112 Monaco             0
129 Pakistan           0
148 San Marino         0
150 Saudi Arabia       0
159 Somalia            0
39  Comoros            1
74  Haiti              1
138 Qatar              1
172 Timor-Leste        1
169 Tajikistan         2
124 Niger              3
79  Indonesia          5
105 Mali               5
117 Myanmar            5
120 Nepal              5
168 Syria              5
54  Egypt              6
87  Jordan             6
179 Tuvalu             6
191 Yemen              6
... ...                ...
77  Iceland            233
76  Hungary            234
100 Luxembourg         236
110 Mexico             238
33  Canada             240
4   Andorra            245
24  Brazil             245
142 Russian Federation 247
185 USA                249
121 Netherlands        251
9   Australia          261
18  Belize             263
61  Finland            263
157 Slovenia           270
10  Austria            279
94  Latvia             281
152 Serbia             283
161 Spain              284
131 Panama             285
17  Belgium            295
141 Romania            297
130 Palau              306
82  Ireland            313
189 Venezuela          333
99  Lithuania          343
136 Poland             343
66  Germany            346
63  Gabon              347
46  Czech Republic     361
118 Namibia            376

In [13]:
# Dplyr approach 
drinks %>% 
    select(country, beer_servings) %>% 
    arrange(beer_servings)

    country            beer_servings
1   Afghanistan        0
2   Bangladesh         0
3   Cook Islands       0
4   North Korea        0
5   Iran               0
6   Kuwait             0
7   Libya              0
8   Maldives           0
9   Marshall Islands   0
10  Mauritania         0
11  Monaco             0
12  Pakistan           0
13  San Marino         0
14  Saudi Arabia       0
15  Somalia            0
16  Comoros            1
17  Haiti              1
18  Qatar              1
19  Timor-Leste        1
20  Tajikistan         2
21  Niger              3
22  Indonesia          5
23  Mali               5
24  Myanmar            5
25  Nepal              5
26  Syria              5
27  Egypt              6
28  Jordan             6
29  Tuvalu             6
30  Yemen              6
... ...                ...
164 Iceland            233
165 Hungary            234
166 Luxembourg         236
167 Mexico             238
168 Canada             240
169 Andorra            245
170 Brazil             245
171 Russian Federation 247
172 USA                249
173 Netherlands        251
174 Australia          261
175 Belize             263
176 Finland            263
177 Slovenia           270
178 Austria            279
179 Latvia             281
180 Serbia             283
181 Spain              284
182 Panama             285
183 Belgium            295
184 Romania            297
185 Palau              306
186 Ireland            313
187 Venezuela          333
188 Lithuania          343
189 Poland             343
190 Germany            346
191 Gabon              347
192 Czech Republic     361
193 Namibia            376

In [14]:
# Use desc for descending order 
drinks %>% 
    select(country, beer_servings) %>% 
    arrange(desc(beer_servings))

    country            beer_servings
1   Namibia            376
2   Czech Republic     361
3   Gabon              347
4   Germany            346
5   Lithuania          343
6   Poland             343
7   Venezuela          333
8   Ireland            313
9   Palau              306
10  Romania            297
11  Belgium            295
12  Panama             285
13  Spain              284
14  Serbia             283
15  Latvia             281
16  Austria            279
17  Slovenia           270
18  Belize             263
19  Finland            263
20  Australia          261
21  Netherlands        251
22  USA                249
23  Russian Federation 247
24  Andorra            245
25  Brazil             245
26  Canada             240
27  Mexico             238
28  Luxembourg         236
29  Hungary            234
30  Iceland            233
... ...                ...
164 Egypt              6
165 Jordan             6
166 Tuvalu             6
167 Yemen              6
168 Indonesia          5
169 Mali               5
170 Myanmar            5
171 Nepal              5
172 Syria              5
173 Niger              3
174 Tajikistan         2
175 Comoros            1
176 Haiti              1
177 Qatar              1
178 Timor-Leste        1
179 Afghanistan        0
180 Bangladesh         0
181 Cook Islands       0
182 North Korea        0
183 Iran               0
184 Kuwait             0
185 Libya              0
186 Maldives           0
187 Marshall Islands   0
188 Mauritania         0
189 Monaco             0
190 Pakistan           0
191 San Marino         0
192 Saudi Arabia       0
193 Somalia            0

# 4. Mutate

Add new variables.

Create new variables that are functions of existing variables.

In [15]:
# Base R approach to create a new variable average alcohol
drinks$avg_alcohol = round((drinks$beer_servings + drinks$spirit_servings + drinks$wine_servings) / 3)
head(drinks[, c("country", "beer_servings", "spirit_servings", "wine_servings", "avg_alcohol")])

  country           beer_servings spirit_servings wine_servings avg_alcohol
1 Afghanistan         0             0               0             0
2 Albania            89           132              54            92
3 Algeria            25             0              14            13
4 Andorra           245           138             312           232
5 Angola            217            57              45           106
6 Antigua & Barbuda 102           128              45            92

In [16]:
# Dplyr approach 
drinks %>% 
    select(country, beer_servings, spirit_servings, wine_servings) %>% 
    mutate(avg_alcohol = round((beer_servings + spirit_servings + wine_servings) / 3)) %>% 
    head()

  country           beer_servings spirit_servings wine_servings avg_alcohol
1 Afghanistan         0             0               0             0
2 Albania            89           132              54            92
3 Algeria            25             0              14            13
4 Andorra           245           138             312           232
5 Angola            217            57              45           106
6 Antigua & Barbuda 102           128              45            92

# 5. Summarise

Reduce variables to values.

In [17]:
# Base R approach to calculate average wine servings by continent 
aggregate(wine_servings ~ continent, drinks, mean)

  continent     wine_servings
1 Africa         16.264151
2 Asia            9.068182
3 Europe        142.222222
4 North America  24.521739
5 Oceania        35.625000
6 South America  62.416667

In [18]:
drinks %>% 
    group_by(continent) %>% 
    summarise(avg_wine = mean(wine_servings, na.rm = TRUE))

  continent     avg_wine
1 Africa         16.264151
2 Asia            9.068182
3 Europe        142.222222
4 North America  24.521739
5 Oceania        35.625000
6 South America  62.416667